= form_for @allocation do |f|
  - if @allocation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@allocation.errors.count, "error")} prohibited this allocation from being saved:"
      %ul
        - @allocation.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :item_id
    = collection_select :item, :id, Item.all, :id, :name, prompt: true
  .field
    = f.label :quantity
    = f.number_field :quantity
  .actions
    = f.submit 'Save'
