%h1 Purchases

%p
  =link_to 'Home', root_path
%p
  = link_to 'New Purchase', new_purchase_path

= form_tag('/purchases', method: 'get') do
  .field
    = label_tag :year, "Year"
    = number_field_tag :year, @year
  .field
    = label_tag :month, "Month"
    = number_field_tag :month, @month
  .actions
    = submit_tag 'Search'

%br

%table
  %thead
    %tr
      %th Date
      %th Retailer
      %th Item
      %th Quantity
      %th Unit cost
      %th
      %th
      %th

  %tbody
    - @purchases.each do |purchase|
      %tr
        %td= purchase.date
        %td= purchase.retailer.name
        %td= purchase.item.name
        %td= purchase.quantity
        %td= purchase.unit_cost.ceil(4)
        %td= link_to 'Show', purchase
        %td= link_to 'Edit', edit_purchase_path(purchase)
        %td= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' }

%br

%h2 Purchases by category
%table
  %thead
    %tr
      %th Category
      %th Cost

  %tbody
    - @category_breakdown.each do |category_breakdown|
      %tr
        %td= category_breakdown.name
        %td= category_breakdown.purchase_cost


%h2 Total purchases
%p= @total_purchases
