%h1 Listing purchases

%table
  %thead
    %tr
      %th Retailer
      %th Item
      %th Quantity
      %th Unit cost
      %th
      %th
      %th

  %tbody
    - @purchases.each do |purchase|
      %tr
        %td= purchase.retailer.name
        %td= purchase.item.name
        %td= purchase.quantity
        %td= purchase.unit_cost
        %td= link_to 'Show', purchase
        %td= link_to 'Edit', edit_purchase_path(purchase)
        %td= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Purchase', new_purchase_path
