%h1 Inventory
%p
  = link_to 'Retailers', retailers_path
%p
  = link_to 'Categories', categories_path
%p
  = link_to 'Items', items_path
%p
  = link_to 'Purchases', purchases_path
%p
  = link_to 'Allocations', allocations_path